/* Base CSS */ 

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Colourscheme*/
:root {
    --primary-colour: #ffffff;
    --secondary-colour: #1a1a1a;
    --accent-colour: #00d9ff;
    --text-colour: #ffffff;
    --text-secondary-colour: #b0b0b0;
    --font-main: "Libre Franklin", sans-serif;
}

/*For page scrolling*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    min-height: 100vh;
}

