/* Base CSS */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar CSS */
.Navbar{
    align-items: center;
    display: flex;
    text-align: center;
}

.Navbar-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Nav-Links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.Nav-Links li {
    cursor: pointer;
    padding: 0px 20px;
}

.Nav-Links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

/*Section CSS*/
section{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

/*Main-Page title CSS*/
.Name-Title{
    text-align: center;
}

/*About-Me-Page title CSS*/
.About-Me-Title{
    text-align: center;
}

/*Projects-Page title CSS*/
.Projects-Page-Title{
    text-align: center;
}

/*Articles-Page title CSS*/
.Articles-Page-Title{
    text-align: center;
}







