/* Base CSS */ 
* {
    margin: 0;
    padding: 0;
}

/* Navbar CSS */
.Navbar{
    text-align: center;
}

.Nav-Links {
    text-decoration: none;
}

/*Section CSS*/
section{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

/*Main-Page title CSS*/
.Name-Title{
    text-align: center;
}

/*About-Me-Page title CSS*/
.About-Me-Title{
    text-align: center;
}

/*Projects-Page title CSS*/
.Projects-Page-Title{
    text-align: center;
}

/*Articles-Page title CSS*/
.Articles-Page-Title{
    text-align: center;
}







