/*CSS for whole page*/
* {
    margin: 0;
    padding: 0;
}

section {
    size: 50px;
}

/*CSS for Navbar*/
.Navbar{
    text-align: center;
}
.Nav-Links{
    text-decoration: none;
}

/*CSS for Name-Title*/
.Name-Title{
    text-align: center;
    font-size: 30px;
}

/*CSS for Image Containers*/
.Image1-Container{
    align-items: center;
}
