/*CSS for whole page*/
* {
    margin: 0;
    padding: 0;
}

/*CSS for Navbar*/
.Navbar{
    text-align: center;
    text-decoration: none;
}

/*CSS for Name-Title*/
.Name-Title{
    text-align: center;
}

