/* Base CSS */ 

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar CSS */
.Navbar{
    align-items: center;
    display: flex;
    text-align: center;
}

.Navbar-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

.Nav-Links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.Nav-Links li {
    cursor: pointer;
    padding: 0px 20px;
}

.Nav-Links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-family: "Libre Franklin", sans-serif;
    text-align: center;
}

/*Section CSS*/
section{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

/*Main-Page title CSS*/
.Name-Title{
    text-align: center;
    font-weight: bold;
    font-family: "Libre Franklin", sans-serif;
}

/*About-Me-Page title CSS*/
.About-Me-Title{
    text-align: center;
    font-weight: bold;
    font-family: "Libre Franklin", sans-serif;
}

/*Projects-Page title CSS*/
.Projects-Page-Title{
    text-align: center;
    font-weight: bold;
    font-family: "Libre Franklin", sans-serif;
}

/*Articles-Page title CSS*/
.Articles-Page-Title{
    text-align: center;
    font-weight: bold;
    font-family: "Libre Franklin", sans-serif;
}







